#!/python

#api or mysql
source = "{{api_or_sql}}"

mysql = {
  "host": "localhost",
  "user": "{{db_user}}",
  "passwd": "{{db_user}}",
  "db": "f2b",
  "api-port":"{{api_port}}"
}

apiurl = "http://{{apiurl}}:{{api_port}}/api/v1"
apitoken = "{{apitoken}}"
